@use "Resolutions" as *;
.header {
  padding-top: 1.6rem;
  padding-bottom: 4.9rem;

  @include tablet {
    padding-top: 4rem;
    padding-bottom: 4.9rem;
  }

  @include desktopSmall {
    padding-top: 8.3rem;
    padding-bottom: 8.5rem;
  }

  &.--darkMode {
    .nav__title {
      color: var(--c-pure-white);
    }
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 4rem;

  @include tablet {
    height: 5.6rem;
  }

  &__title {
    display: flex;
    align-items: center;
    font-weight: var(--f-medium);

    &.--html,
    &.--css,
    &.--javascript,
    &.--accessibility {
      &::before {
        @include tablet {
          margin-right: 2.4rem;
        }
      }
    }
  }

  &__modeContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }
  &__button {
    cursor: pointer;
    width: 4.8rem;
    height: 2.8rem;
    margin-inline: 1.6rem;
    padding-inline: 0.4rem;
    border-radius: 999px;
    border: none;
    background-color: var(--c-purple);
    transition: all 0.5s ease-in-out;

    &::before {
      content: "";
      display: block;
      position: relative;
      background-color: var(--c-pure-white);
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      left: 0;
      transition: all 0.2s ease-in-out;
    }
    &[aria-expanded="true"] {
      &::before {
        left: 50%;
      }
    }
  }
}
