@use "Resolutions" as *;

.quizCompleted {
  &.--darkMode {
    .quizCompleted__heading {
      color: var(--c-pure-white);
    }

    .quizCompleted__quickInfo {
      color: var(--c-light-bluish);
    }
  }
}

.quizSummary {
  @include desktopSmall {
    width: 100%;
  }
  &__pointsContainer {
    display: grid;
    place-items: center;
    margin-bottom: 1.2rem;
    padding-block: 3.2rem;
    background-color: var(--c-pure-white);
    box-shadow: 0px 16px 40px rgba(143.42, 160.07, 193.37, 0.14);
    border-radius: 12px;

    @include tablet {
      margin-bottom: 3.2rem;
      padding-block: 4.8rem;
    }
  }

  &__subject {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    font-weight: var(--f-medium);

    @include tablet {
      margin-bottom: 4rem;
    }

    &.--html,
    &.--css,
    &.--javascript,
    &.--accessibility {
      &::before {
        @include tablet {
          margin-right: 2.4rem;
        }
      }
    }
  }

  &__score {
    margin-bottom: 1.6rem;
    font-size: var(--display-f-xl-mobile);
    line-height: 100%;
    color: var(--c-darkNavy);

    @include tablet {
      font-size: var(--display-f-xl-desktop);
    }
  }

  &__numberOfQuestions {
    margin-bottom: 1.6rem;
    color: var(--c-grey-navy);

    @include tablet {
      margin-bottom: 4.8rem;
    }
  }

  &.--darkMode {
    .quizSummary__pointsContainer {
      background-color: var(--c-navy);
      box-shadow: 0px 16px 40px rgba(49, 62, 81, 0.14);
    }
    .quizSummary__subject,
    .quizSummary__score {
      color: var(--c-pure-white);
    }

    .quizSummary__numberOfQuestions {
      color: var(--c-light-bluish);
    }
  }
}
