@use "Resolutions" as *;

.quizWelcome {
  &__heading {
    margin-bottom: 1.6rem;

    @include desktopSmall {
      margin-bottom: 4.8rem;
    }
  }

  &__quickInfo {
    color: var(--c-grey-navy);
    font-size: var(--body-f-s-mobile);
    font-weight: var(--f-light);
    font-style: italic;

    @include tablet {
      font-size: var(--body-f-s-desktop);
    }
  }

  &.--darkMode {
    .quizWelcome__quickInfo {
      color: var(--c-light-bluish);
    }
  }
}

.quizSubjects {
  @include desktopSmall {
    width: 100%;
  }
  &__list {
    display: grid;
    gap: 1.2rem;

    @include tablet {
      gap: 2.4rem;
    }
  }
}
