@use "Resolutions" as *;

.quizCompleted {
  @include desktopSmall {
    width: 100%;
  }
  &__heading {
    display: grid;
    margin-bottom: 4rem;
    font-weight: var(--f-light);

    @include tablet {
      margin-bottom: 6.4rem;
    }
  }
  &__headingOne {
    margin-bottom: 0.8rem;
  }
  &__headingTwo {
    font-weight: var(--f-medium);
  }

  &.--darkMode {
    .quizCompleted__heading {
      color: var(--c-pure-white);
    }

    .quizCompleted__quickInfo {
      color: var(--c-light-bluish);
    }
  }
}

.quizSummary {
  @include desktopSmall {
    width: 100%;
  }
  &__pointsContainer {
    display: grid;
    place-items: center;
    margin-bottom: 1.2rem;
    padding-block: 3.2rem;
    background-color: var(--c-pure-white);
    box-shadow: 0px 16px 40px rgba(143.42, 160.07, 193.37, 0.14);
    border-radius: 12px;

    @include tablet {
      margin-bottom: 3.2rem;
      padding-block: 4.8rem;
    }
  }

  &__subject {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    font-weight: var(--f-medium);

    @include tablet {
      margin-bottom: 4rem;
    }

    &.--html,
    &.--css,
    &.--javascript,
    &.--accessibility {
      &::before {
        content: "";
        display: flex;
        width: 4rem;
        height: 4rem;
        margin-right: 1.6rem;
        border-radius: 0.6rem;
        background-size: 2.857rem;
        background-position: center;
        background-repeat: no-repeat;

        @include tablet {
          width: 5.6rem;
          height: 5.6rem;
          margin-right: 2.4rem;
          background-size: 4rem;
        }
      }
    }

    &.--html {
      &::before {
        background-color: #fff1e9;
        background-image: url("../assets/icon-html.svg");
      }
    }

    &.--css {
      &::before {
        background-color: #e0fdef;
        background-image: url("../assets/icon-css.svg");
      }
    }
    &.--javascript {
      &::before {
        background-color: #ebf0ff;
        background-image: url("../assets/icon-js.svg");
      }
    }
    &.--accessibility {
      &::before {
        background-color: #f6e7ff;
        background-image: url("../assets/icon-accessibility.svg");
      }
    }
  }

  &__score {
    margin-bottom: 1.6rem;
    font-size: var(--display-f-xl-mobile);
    line-height: 100%;
    color: var(--c-darkNavy);

    @include tablet {
      font-size: var(--display-f-xl-desktop);
    }
  }

  &__numberOfQuestions {
    margin-bottom: 1.6rem;
    color: var(--c-grey-navy);

    @include tablet {
      margin-bottom: 4.8rem;
    }
  }

  &.--darkMode {
    .quizSummary__pointsContainer {
      background-color: var(--c-navy);
      box-shadow: 0px 16px 40px rgba(49, 62, 81, 0.14);
    }
    .quizSummary__subject,
    .quizSummary__score {
      color: var(--c-pure-white);
    }

    .quizSummary__numberOfQuestions {
      color: var(--c-light-bluish);
    }
  }
}
